<a href="https://colab.research.google.com/github/DarynaMir/GoIt_Data_Science/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
2. Прочитайте отриману таблицю, використовуючи метод head

In [1]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/1bclX5PbqE8zR1-wOSM3ZTFa53sIC7RXqwty7Abmw9yQ/export?format=csv"

table_poll = pd.read_csv(url)

print(table_poll.head())

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

3. Визначте розмір таблиці за допомогою методу shape

In [2]:
print("Shape of table_poll:", table_poll.shape)

Shape of table_poll: (8704, 25)

4. Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [3]:
print(table_poll.dtypes)

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

5. Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [4]:
missing_values = table_poll.isnull().sum() / len(table_poll)
print("Proportion of missing values in each column:\n", missing_values)

Proportion of missing values in each column:
 N                                   0.000000
Посада                              0.000000
Мова програмування                  0.442325
Спеціалізація                       0.829389
Загальний досвід роботи             0.000000
Досвід роботи на поточному місці    0.000000
Зарплата на місяць                  0.000000
Зміна зарплати за 12 місяців        0.000000
Місто                               0.000000
Розмір компанії                     0.000000
Тип компанії                        0.000000
Стать                               0.000000
Вік                                 0.000000
Освіта                              0.000000
Університет                         0.041131
Ще студент                          0.000000
Рівень англійської                  0.000000
Предметна область                   0.025620
Дата заповнення                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

6. Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [5]:
cols_with_na = table_poll.columns[table_poll.isna().any()].tolist()
cols_with_na.remove("Мова програмування")

poll_cleaned = table_poll.drop(columns=cols_with_na)

print("\nDataFrame after dropping columns with missing values (except 'Мова програмування'):\n", poll_cleaned.head())

DataFrame after dropping columns with missing values (except 'Мова програмування'):
    N                    Посада Мова програмування Загальний досвід роботи  \
0  1        Junior QA engineer                NaN                     0.5
1  2        Junior QA engineer                NaN         менше 3 місяців
2  3         Software Engineer            C#/.NET                       4
3  4         Software Engineer         JavaScript                       5
4  5  Senior Software Engineer         JavaScript       10 і більше років

  Досвід роботи на поточному місці  Зарплата на місяць  \
0                              0.5                 400
1                  менше 3 місяців                 430
2                                1                2500
3                                4                2000
4                              0.5                4500

   Зміна зарплати за 12 місяців   Місто   Розмір компанії   Тип компанії  \
0                             0  Харків        до 10 осіб  Аутсорсингова
1                           130  Харків  більше 1000 осіб  Аутсорсингова
2                           800    Київ      до 1000 осіб  Аутсорсингова
3                           400   Одеса       до 200 осіб     Продуктова
4                           500    Інше        до 10 осіб     Продуктова

      Стать  Вік             Освіта  Ще студент  \
0    жіноча   20       Неповна Вища        True
1    жіноча   21       Неповна Вища        True
2  чоловіча   26               Вища       False
3  чоловіча   30            Середня       False
4  чоловіча   30  Технікум / Коледж       False

                     Рівень англійської      Дата заповнення  \
0    Pre-intermediate (нище середнього)  12/06/2017 12:38:08
1  Upper-Intermediate (вище середнього)  12/06/2017 12:42:51
2               Intermediate (середній)  12/06/2017 13:02:47
3    Pre-intermediate (нище середнього)  12/06/2017 13:03:01
4               Intermediate (середній)  12/06/2017 13:03:47

                                          User.Agent   exp  current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0              0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0              1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0              4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0              0.5

   salary
0     400
1     430
2    2500
3    2000
4    4500

7. Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [28]:
print("Remaining missing values:\n", poll_cleaned.isnull().sum())

Remaining missing values:
 N                                      0
Посада                                 0
Мова програмування                  3850
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Ще студент                             0
Рівень англійської                     0
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

8. Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
9. Визначте новий розмір таблиці за допомогою методу shape

In [29]:
poll_cleaned = poll_cleaned.dropna()

print("New shape after dropping rows with missing values:", poll_cleaned.shape)

New shape after dropping rows with missing values: (4854, 20)

10. Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [9]:
python_data = poll_cleaned[poll_cleaned["Мова програмування"] == "Python"]

print("\nDataFrame with only Python programmers:")
print(python_data.head())

DataFrame with only Python programmers:
       N                    Посада Мова програмування Загальний досвід роботи  \
12    13         Software Engineer             Python                       1
68    69         Software Engineer             Python                     1.5
87    88  Junior Software Engineer             Python                     0.5
114  115  Junior Software Engineer             Python                     1.5
143  144  Junior Software Engineer             Python                       1

    Досвід роботи на поточному місці  Зарплата на місяць  \
12                   менше 3 місяців                 800
68                               0.5                 900
87                               0.5                 600
114                              0.5                 685
143                                1                 750

     Зміна зарплати за 12 місяців Місто Розмір компанії   Тип компанії  \
12                            200  Київ      до 50 осіб  Аутсорсингова
68                            900  Київ      до 10 осіб        Стартап
87                              0  Київ      до 10 осіб  Аутсорсингова
114                           250  Київ    до 1000 осіб  Аутсорсингова
143                           250  Київ      до 10 осіб  Аутсорсингова

        Стать  Вік        Освіта  Ще студент  \
12   чоловіча   26          Вища       False
68   чоловіча   21  Неповна Вища        True
87   чоловіча   19  Неповна Вища        True
114  чоловіча   21  Неповна Вища       False
143  чоловіча   21  Неповна Вища        True

                       Рівень англійської      Дата заповнення  \
12     Pre-intermediate (нище середнього)  12/06/2017 13:05:54
68   Upper-Intermediate (вище середнього)  12/06/2017 13:11:17
87   Upper-Intermediate (вище середнього)  12/06/2017 13:12:25
114               Intermediate (середній)  12/06/2017 13:14:52
143  Upper-Intermediate (вище середнього)  12/06/2017 13:19:10

                                            User.Agent  exp  current_job_exp  \
12   Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...  1.0              0.0
68   Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  1.5              0.5
87   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  0.5              0.5
114  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  1.5              0.5
143  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  1.0              1.0

     salary
12      800
68      900
87      600
114     685
143     750

11. Визначте розмір таблиці python_data за допомогою методу shape

In [10]:
print("Shape of python_data:",python_data.shape)

Shape of python_data: (207, 20)

12. Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [25]:
grouped = python_data.groupby('Посада')

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ebe952313c0>

13. Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата на місяць"

In [18]:
agg_data = grouped['Зарплата на місяць'].agg(['min', 'max']).reset_index()
print("Aggregated data with min and max salary:\n", agg_data)

Aggregated data with min and max salary:
                      Посада   min   max
0  Junior Software Engineer   100  1250
1  Senior Software Engineer  1300  9200
2         Software Engineer   500  5400
3          System Architect  3000  5000
4            Technical Lead  1425  6200

14. Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [24]:
def fill_avg_salary(group):
    return group.mean()

python_data['avg'] = grouped['Зарплата на місяць'].transform(fill_avg_salary)
print(python_data)

         N                    Посада Мова програмування  \
12      13         Software Engineer             Python
68      69         Software Engineer             Python
87      88  Junior Software Engineer             Python
114    115  Junior Software Engineer             Python
143    144  Junior Software Engineer             Python
...    ...                       ...                ...
8546  8547         Software Engineer             Python
8625  8626         Software Engineer             Python
8635  8636  Senior Software Engineer             Python
8673  8674  Junior Software Engineer             Python
8695  8696         Software Engineer             Python

     Загальний досвід роботи Досвід роботи на поточному місці  \
12                         1                  менше 3 місяців
68                       1.5                              0.5
87                       0.5                              0.5
114                      1.5                              0.5
143                        1                                1
...                      ...                              ...
8546                       5                                1
8625                       4                                1
8635       10 і більше років                  менше 3 місяців
8673                     0.5                              0.5
8695                       1                              0.5

      Зарплата на місяць  Зміна зарплати за 12 місяців      Місто  \
12                   800                           200       Київ
68                   900                           900       Київ
87                   600                             0       Київ
114                  685                           250       Київ
143                  750                           250       Київ
...                  ...                           ...        ...
8546                2000                           800  Запоріжжя
8625                1750                             0       Київ
8635                4000                          1300  Віддалено
8673                 350                            50       Київ
8695                1500                          1000       Київ

       Розмір компанії   Тип компанії  ... Вік        Освіта Ще студент  \
12          до 50 осіб  Аутсорсингова  ...  26          Вища      False
68          до 10 осіб        Стартап  ...  21  Неповна Вища       True
87          до 10 осіб  Аутсорсингова  ...  19  Неповна Вища       True
114       до 1000 осіб  Аутсорсингова  ...  21  Неповна Вища      False
143         до 10 осіб  Аутсорсингова  ...  21  Неповна Вища       True
...                ...            ...  ...  ..           ...        ...
8546        до 50 осіб  Аутсорсингова  ...  22  Неповна Вища      False
8625  більше 1000 осіб  Аутсорсингова  ...  28       Середня      False
8635        до 10 осіб        Стартап  ...  33          Вища      False
8673        до 50 осіб  Аутсорсингова  ...  22          Вища      False
8695        до 10 осіб        Стартап  ...  29          Вища      False

                        Рівень англійської      Дата заповнення  \
12      Pre-intermediate (нище середнього)  12/06/2017 13:05:54
68    Upper-Intermediate (вище середнього)  12/06/2017 13:11:17
87    Upper-Intermediate (вище середнього)  12/06/2017 13:12:25
114                Intermediate (середній)  12/06/2017 13:14:52
143   Upper-Intermediate (вище середнього)  12/06/2017 13:19:10
...                                    ...                  ...
8546               Intermediate (середній)  10/07/2017 14:11:26
8625               Intermediate (середній)  11/07/2017 16:15:40
8635  Upper-Intermediate (вище середнього)  11/07/2017 17:51:36
8673               Intermediate (середній)   12/07/2017 9:37:16
8695               Intermediate (середній)  12/07/2017 14:39:21

                                             User.Agent   exp  \
12    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0
68    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5
87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5
114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5
143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
...                                                 ...   ...
8546  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8625  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0
8635  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0
8673  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0

      current_job_exp  salary          avg
12                0.0     800  1799.070000
68                0.5     900  1799.070000
87                0.5     600   560.841270
114               0.5     685   560.841270
143               1.0     750   560.841270
...               ...     ...          ...
8546              1.0    2000  1799.070000
8625              1.0    1750  1799.070000
8635              0.0    4000  3387.096774
8673              0.5     350   560.841270
8695              0.5    1500  1799.070000

[207 rows x 21 columns]

<ipython-input-24-9ee93ec2f3cc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  python_data['avg'] = grouped['Зарплата на місяць'].transform(fill_avg_salary)

15. Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [23]:
describe_avg = python_data['avg'].describe()
print("Descriptive statistics for 'avg':\n", describe_avg)

Descriptive statistics for 'avg':
 count     207.000000
mean     1753.937198
std       996.562606
min       560.841270
25%       560.841270
50%      1799.070000
75%      1799.070000
max      4000.000000
Name: avg, dtype: float64

16. Збережіть отриману таблицю в CSV файл

In [27]:
python_data.to_csv('python_data.csv', index=False)